.profile{
    .profile-box{
        box-shadow: $shadow;

        &:hover{
            box-shadow: $shadow16;
        }
        
        .profile-img{
            height: 300px;
            img{
                height: 300px;
            }
        }

        .profile-content{
            padding-bottom: 1px;
            padding-bottom: 0px;
            .content-title{
                font-size: 22px;
            }
            .content-info{
                font-size: 16px;
            }
        }

        .profile-footer{
            margin-top: 0px;
            .btn{
                font-size: 14px;
            }
        }
    }
}